.card {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.title {
  margin-bottom: 16px;
}

.img--S {
  scale: 0.8;
}

.img--M {
  scale: 1;
}

.img--L {
  scale: 1.2;
}
